In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'PartD_Prescriber_PUF_NPI_17.txt', sep="\t", header=0, error_bad_lines=False)

In [3]:
df.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,92.0,220.0,14.0,0.0,0.0,0.0,0.0,143.0,91.0,2.1685
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,92.0,195.0,58.0,NaN,NaN,0.0,NaN,143.0,133.0,1.8029
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,17.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,1.0598
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,4.5148

In [4]:
df.shape

(1162898, 84)

In [5]:
df.tail()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score
1162893,1992999825,DESCHENES,GEOFFREY,R,M.D.,M,I,1100 9TH AVE,MS:M4-PFS,SEATTLE,...,66.0,123.0,NaN,NaN,NaN,0.0,NaN,122.0,22.0,1.1446
1162894,1992999833,SHAW,L. NOAH,NaN,NaN,M,I,35 W 90TH ST,NaN,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162895,1992999866,COGAN,JACQUELINE,NaN,DDS,F,I,16235 NE 11TH CT,NaN,NORTH MIAMI BEACH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1162896,1992999874,JOFFE,GABRIELLA,NaN,NaN,F,I,8260 ATLEE RD,"MOB 2, SUITE 319",MECHANICSVILLE,...,13.0,23.0,NaN,0.0,0.0,0.0,NaN,26.0,12.0,2.5024
1162897,1992999882,RUDZINSKI-WALTER,MARISSA,L,PA-C,F,I,575 N RIVER ST,NaN,WILKES BARRE,...,20.0,63.0,NaN,0.0,NaN,0.0,NaN,19.0,58.0,1.3447

In [6]:
df.columns

Index(['npi', 'nppes_provider_last_org_name', 'nppes_provider_first_name',
       'nppes_provider_mi', 'nppes_credentials', 'nppes_provider_gender',
       'nppes_entity_code', 'nppes_provider_street1', 'nppes_provider_street2',
       'nppes_provider_city', 'nppes_provider_zip5', 'nppes_provider_zip4',
       'nppes_provider_state', 'nppes_provider_country',
       'specialty_description', 'description_flag',
       'medicare_prvdr_enroll_status', 'total_claim_count',
       'total_30_day_fill_count', 'total_drug_cost', 'total_day_supply',
       'bene_count', 'ge65_suppress_flag', 'total_claim_count_ge65',
       'total_30_day_fill_count_ge65', 'total_drug_cost_ge65',
       'total_day_supply_ge65', 'bene_count_ge65_suppress_flag',
       'bene_count_ge65', 'brand_suppress_flag', 'brand_claim_count',
       'brand_drug_cost', 'generic_suppress_flag', 'generic_claim_count',
       'generic_drug_cost', 'other_suppress_flag', 'other_claim_count',
       'other_drug_cost', 'mapd_suppress_flag', 'mapd_claim_count',
       'mapd_drug_cost', 'pdp_suppress_flag', 'pdp_claim_count',
       'pdp_drug_cost', 'lis_suppress_flag', 'lis_claim_count',
       'lis_drug_cost', 'nonlis_suppress_flag', 'nonlis_claim_count',
       'nonlis_drug_cost', 'opioid_claim_count', 'opioid_drug_cost',
       'opioid_day_supply', 'opioid_bene_count', 'opioid_prescriber_rate',
       'la_opioid_claim_count', 'la_opioid_drug_cost', 'la_opioid_day_supply',
       'la_opioid_bene_count', 'la_opioid_prescriber_rate',
       'antibiotic_claim_count', 'antibiotic_drug_cost',
       'antibiotic_bene_count', 'antipsych_ge65_suppress_flag',
       'antipsych_claim_count_ge65', 'antipsych_drug_cost_ge65',
       'antipsych_bene_ge65_suppress_flg', 'antipsych_bene_count_ge65',
       'average_age_of_beneficiaries', 'beneficiary_age_less_65_count',
       'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count',
       'beneficiary_age_greater_84_count', 'beneficiary_female_count',
       'beneficiary_male_count', 'beneficiary_race_white_count',
       'beneficiary_race_black_count', 'beneficiary_race_asian_pi_count',
       'beneficiary_race_hispanic_count', 'beneficiary_race_nat_ind_count',
       'beneficiary_race_other_count', 'beneficiary_nondual_count',
       'beneficiary_dual_count', 'beneficiary_average_risk_score'],
      dtype='object')

In [7]:
df['bene_count'].mean()

158.3494585173676

In [8]:
df[['total_day_supply', 'total_claim_count']]

         total_day_supply  total_claim_count
0                   14788                677
1                   58605               1946
2                     430                 55
3                     150                 18
4                    2681                 90
...                   ...                ...
1162893              5566                270
1162894              1866                 59
1162895               288                 15
1162896              1879                 81
1162897              7945                256

[1162898 rows x 2 columns]

In [9]:
df['aver_presc_len'] = df['total_day_supply']/df['total_claim_count']

In [10]:
df['aver_presc_len'].median()

29.7125748502994

In [ ]:
df.groupby('nppes_provider_state')